{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "ShardMode": false,
  "Discord": {
    "token": "{{DISCORD_TOKEN}}",
    "prefix": "a!",
    "enableDms": true,
    "enableMentionPrefix": false,
    "dmHelp": false,
    "enableDefaultHelp": true
  },
  "sql": {
    "host": "localhost",
    "user": "mySqlUser",
    "pass": "MySqlPass",
    "name": "MyDatabaseName"
  }
}
