<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Package source" value="https://pkgs.dev.azure.com/MHoward0327/TestSoftPhone/_packaging/mh-pub%40Release/nuget/v3/index.json" />
    <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
    <add key="dsharp" value="https://nuget.emzi0767.com/api/v3/index.json" />
    <add key="cloudthewolf" value="https://nuget.cloudsmith.io/cloudthewolf/core/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <add key="Package source" value="true" />
  </disabledPackageSources>
</configuration>